BasedOnStyle:                     Google
Language:                         Java
ColumnLimit:                      120
IndentWidth:                      2
UseTab:                           Never
AllowShortFunctionsOnASingleLine: Empty